@model FPS.Models.InstanceDataModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/police/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/police/css/select.css" rel="stylesheet" type="text/css" />
    <title>GetInstanceById</title>
</head>
<body>
    @using (Html.BeginForm())
    {

        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="home.html">首页</a></li>
                <li><a href="#">大数据预警</a></li>
                <li><a href="#">预警级别管理</a></li>
                <li><a href="#">新增预警级别</a></li>
                <li><a href="javascript:history.go(-1)">返回</a></li>
            </ul>
        </div>

        <div class="formbody" id="app">
            <div id="usual1" class="usual">
                <div id="tab1" class="tabson">

                    <ul class="forminfo">
                        <li>
                            <label>案件等级<b>*</b></label>
                            @Html.DropDownListFor(m => m.InstanceTypes, ViewBag.inStanceType as List<SelectListItem>, new { style = "border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;" })
                        </li>
                        <li>
                            <label>案件状态<b>*</b></label>
                            @Html.DropDownListFor(m => m.InstanceState, ViewBag.businesses as List<SelectListItem>, new { style = "border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/vue/vue.js"></script>
    <script src="~/vue/axios.js"></script>
    <script>
    </script>

</body>
</html>
