@model FPS.Models.Instance
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/police/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/police/css/select.css" rel="stylesheet" type="text/css" />
    <title>InsertPoliceCase</title>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="home.html">首页</a></li>
            <li><a href="#">大数据预警</a></li>
            <li><a href="#">预警级别管理</a></li>
            <li><a href="#">新增预警级别</a></li>
            <li><a href="javascript:history.go(-1)">返回</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <form action="/Instance/InsertPoliceCase" method="post">
                <div id="tab1" class="tabson">
                    <ul class="forminfo">
                        <li>
                            <label>案件等级<b>*</b></label>
                            @Html.DropDownListFor(m => m.InstanceTypes, ViewBag.businesses as List<SelectListItem>)@*, new { style = "border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;" }*@
                        </li>
                        <li>
                            <label>案件状态<b>*</b></label>
                            @Html.DropDownListFor(m => m.InstanceState, ViewBag.InstanceState as List<SelectListItem>)@*, new { style = "border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;" }*@
                        </li>
                    </ul>
                    <input type="submit" class="btn btn-success" style="margin:0 auto" value="确 定" />
                    <input type="button" class="btn btn-success" style="margin:0 auto" onclick="layer_close()" value="关 闭" />
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script>
        /*关闭弹出框口*/
        function layer_close() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        };
    </script>
</body>
</html>
