@model FPS.Models.Instance
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/police/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/police/css/select.css" rel="stylesheet" type="text/css" />
    <title>InsertPoliceCase</title>
</head>
<body>
    <form action="/Instance/InsertPoliceCase" method="post" enctype="multipart/form-data">
        <div class="place">
            <span>位置：</span>
            <ul class="placeul">
                <li><a href="home.html">首页</a></li>
                <li><a href="#">大数据预警</a></li>
                <li><a href="#">预警级别管理</a></li>
                <li><a href="#">新增预警级别</a></li>
                <li><a href="javascript:history.go(-1)">返回</a></li>
            </ul>
        </div>

        <div class="formbody">


            <div id="usual1" class="usual">


                <li id="tab1" class="tabson">

                    <ul class="forminfo">
                        <li><label>报警人姓名<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;" /></li>
                        <li><label>身份证号码<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;" /></li>
                        <li><label>联系方式<b>*</b></label><input name="" type="text" class="dfinput" style="width:300px;" /></li>
                        <li>
                            <label>案件等级<b>*</b></label>

                            <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                                <option value="0">请选择</option>
                                <option value="1">一级</option>
                                <option value="2">二级</option>
                                <option value="3">三级</option>
                                <option value="4">四级</option>
                                <option value="5">五级</option>
                            </select>

                        </li>
                        <li>
                            <label>出警人员<b>*</b></label>

                            <select name="" style="border: 1px solid #C3AB7D;padding:7px 10px 7px 10px;">
                                <option value="0">请选择</option>
                                <option value="1" style="background:red;color:red;">红色</option>
                                <option value="2" style="background:orangered;color:orangered;">橙色</option>
                                <option value="3" style="background:yellow;color:yellow;">黄色</option>
                                <option value="4" style="background:blue;color:blue;">蓝色</option>
                                <option value="5" style="background:green;color:green;">绿色</option>
                                <option value="6" style="background:black;color:black;">黑色</option>
                            </select>
                        </li>
                        <li>
                            <label>上传案情附件：</label>
                            <div>
                                <span>
                                    <input class="dfinput" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">
                                    @*<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>*@
                                    <input type="file" multiple name="file" id="file" class="input-file" accept="application/x-zip-compressed">
                                </span>
                            </div>
                        </li>
                        <li>
                            <label>&nbsp;</label><input name="" type="submit" class="btn" value="确认提交" />
                        </li>
                    </ul>

                </div>



            </div>
        </div>
    </form>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script>

        </script>
</body>
</html>
