
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>五台山森林管控中心后台系统</title>
    <link href="/police/css/style.css" rel="stylesheet" type="text/css" />

</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="home.html">首页</a></li>
        </ul>
    </div>

    <div class="mainindex">


        <div class="welinfo">
            <span><img src="/police/images/zs_ico.jpg" alt="天气" /></span>
            <b>Admin您好，欢迎登录五台山森林管控中心后台系统</b>
            <a href="#">修改密码</a>
        </div>



        <div class="xline"></div>

        <div class="box"></div>

        <div class="welinfo">
            <span><img src="/police/images/dp.png" alt="提醒" /></span>
            <b>矛盾纠纷涉及人员与预警信息实时比对情况</b>
        </div>

        <ul class="infolist">
            <li>
                <span>
                    矛盾纠纷涉及人员&nbsp;&nbsp;
                    <b style="font-size:20px;color: red;">曹小威</b>
                    &nbsp;&nbsp;预警分值&nbsp;&nbsp;
                    <b style="font-size:20px;color: red;">99</b>
                    &nbsp;&nbsp;分，请重点关注
                </span>
                <a href="bigdata_yanpan.html" class="ibtn" target="rightFrame">更多</a>
            </li>

        </ul>

        <div class="xline"></div>

        <div class="box"></div>
        <div class="welinfo">
            <span><img src="/police/images/time.png" alt="时间" /></span>
            <b>待办事宜统计</b>
        </div>


        <table class="tablelist" style="width: 50%;">
            <tr style="background: #DBEDFC;"><td>转入人员待办事宜</td><td>人员删除审批信息</td></tr>

            <tr>
                <td>即将到期总数：<b style="font-size:20px;color: red;">88</b></td>
                <td>人员删除总数：<b style="font-size:20px;color: red;">518</b></td>
            </tr>
            <tr>

                <td>今日新增：<b style="font-size:20px;color: red;">18</b></td>
                <td>已审批：<b style="font-size:20px;color: red;">35</b></td>
            </tr>
        </table>


    </div>



</body>

</html>