@{
    Layout = null;
}
@model FPS.Models.Authority
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAuthority</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2 style="margin-left:900px;">添加权限</h2>
        <form action="/Jurisdiction/AddAuthority" method="post">
            <table class="table table-border" style="width:50%" align="center">
                <tr>
                    <td>父级节点</td>
                    <td>@Html.DropDownList("Authority", "根节点")</td>
                </tr>
                <tr>
                    <td>新的权限名</td>
                    <td><input id="Text1" type="text" name="newName" /></td>
                </tr>
                <tr>
                    <td>权限地址</td>
                    <td><input id="Text1" type="text" name="newUrl" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input style="margin-left:300px; width:100px;" id="Submit1" type="submit" value="添加" class="btn btn-primary"  /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
