
@{
    Layout = null;
}
@model List<FPS.Models.Role>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetRole</title>
</head>
<body>
    <div>

    </div>
</body>
</html>
