
@{
    Layout = null;
}
@model List<FPS.Models.UserAndRole>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>天津市滨海新区公安塘沽分局矛盾纠纷系统</title>
    <link href="~/police/css/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/dist/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/dist/lib/jquery/1.9.1/jquery.js"></script>

    <script>
        function stop(id) {
            if (confirm("确认要停用用户吗？")) {
                $.ajax({
                    url: "/Jurisdiction/DeleteUser?tablename=USERS&byid=ID&id="+id,
                    type: "get",
                    success: function (data) {
                        alert('停用成功');
                    }
                })
            }     
        }
    </script>
</head>
<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="home.html">首页</a></li>
            <li><a href="#">主动排查</a></li>
            <li><a href="#">民警排查</a></li>
            <li><a href="#">转递记录管理</a></li>
        </ul>
    </div>
    <div id="divData">
        @{ await Html.RenderPartialAsync("_ShowGetUser", Model); }
    </div>
</body>

</html>
