
@{
    Layout = null;
}
@model FPS.Models.Authority
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateAuthorityShow</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <h2 style="margin-left:900px;">修改权限</h2>
            @Html.HiddenFor(m => m.ID)
                <table class="table table-border" style="width:50%" align="center">
                    <tr>
                        <td>父级节点</td>
                        <td>@Html.DropDownList("Authority")</td>
                    </tr>
                    <tr>
                        <td>新的权限名</td>
                        <td>@Html.TextBoxFor(m=>m.Name)</td>
                    </tr>
                    <tr>
                        <td>权限地址</td>
                        <td>@Html.TextBoxFor(m=>m.Url)</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input style="margin-left:300px; width:100px;" id="Submit1" type="submit" value="修改" /></td>
                    </tr>
                </table>
        }
    </div>
</body>
</html>